	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="Facultad de Ingeniería">
	<!-- Etiquetas meta requeridas -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Página de la Feria del empleo de la Facultad de Ingeniería">
	<meta name="keywords" content="FI,Feria del Empleo,Facultad de Ingeniería,Facultad de Ingenieria,UNAM,Universidad Nacional Autónoma de México">

    <!-- Stylesheets
    ============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css">
	<!--
	<link rel="stylesheet" href="css/bootstrap.css"         type="text/css">
	-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"             type="text/css">
    <link rel="stylesheet" href="css/dark.css"              type="text/css">
    <link rel="stylesheet" href="css/font-icons.css"        type="text/css">
	<!--
	<link rel="stylesheet" href="css/animate.css"           type="text/css">
	<link rel="stylesheet" href="css/animated-slider.css"   type="text/css">
	<link rel="stylesheet" href="css/full-width-slider.css" type="text/css">
	-->
    <link rel="stylesheet" href="css/magnific-popup.css"    type="text/css">
    <link rel="stylesheet" href="css/colors.css"            type="text/css">
	<link rel="stylesheet" href="css/custom.css"            type="text/css">
    <link rel="stylesheet" href="css/responsive.css"        type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    
   	<!-- Icons ================ put your icons and favicons below -->
	<link rel="icon" href="images/favicon.ico">
   		
        <!--[if lte IE 8]><script src="js/ie6/warning.js"></script><script>window.onload=function(){e("js/ie6/")}</script><![endif]-->

    <!-- External JavaScripts
    ============================================= -->
	<div class="fit-vids-style">­
		<style> 
			.fluid-width-video-wrapper { width: 100%; position: relative; padding: 0; } 
			.fluid-width-video-wrapper iframe, 
			.fluid-width-video-wrapper object, 
			.fluid-width-video-wrapper embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
		</style>
	</div>

	<script type="text/javascript" src="js/jquery.js"></script>
	<!--
	<script type="text/javascript" src="js/plugins.js"></script>
	-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		var base_url='';
	</script>
    <!-- Titulo
    ============================================= -->
	<title>Feria del Empleo 2025</title>
	<style type="text/css"></style>