<div class="section">
    <div class="row">
        <div class="col-xs-12 col-md-6">
          <!--
          <a href="{{ site.data.generalinfo.facultad_url }}" class="navbar-link">
            {{ site.data.generalinfo.facultad }}
          </a>
          <h3 class="text-primary">{{ site.data.generalinfo.feria }}</h3>
          <h4 class="text-primary">
            <i class="{{title_icono}}" title="{{title_tooltip}}"></i>
            {{ title01 }}
          </h4>
          -->
          <a target="_blank"  href="https://bolsatrabajo.ingenieria.unam.mx/">
						<img src="images/ferialogo.png" width="450" alt="">
					</a>
          <h6 class="text-primary">{{ title02 }}</h6>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="rombocontainer" style="float: left; width: 400px;;background-color: #d8d8d8;">
            <div class="hex2-row">
              <div class="hex2 hex2Top">
                <div class="left leftTop"></div>
                <div class="middle middleTop"></div>
                <div class="right rightTop"></div>
              </div>
              <div class="hex2 even2"><div class="left"></div>
              <div class="middle">
                <div class="iconos">
                  <a href="{{link02_ref}}">
                    <i class="{{link02_icono}}" title="{{link02_nombre}}"></i>
                    <span class="text-center">{{link02_nombre}}</span>
                  </a>
                </div>
              </div>
              <div class="right"></div></div>
              <div class="hex2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
              <div class="hex2 even2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
            </div>
            <div class="hex2-row">
              <div class="hex2"><div class="left"></div>
              <div class="middle">
                <div class="iconos">
                  <a href="{{link01_ref}}">
                    <i class="{{link01_icono}}" title="{{link01_nombre}}"></i>
                    <span class="text-center">{{link01_nombre}}</span>
                  </a>
                </div>
              </div>
              <div class="right"></div></div>
              <div class="hex2 even2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
              <div class="hex2"><div class="left"></div>
              <div class="middle">
                <div class="iconos">
                    <a href="{{link03_ref}}">
                        <i class="{{link03_icono}}" title="{{link03_nombre}}"></i>
                        <span class="text-center">{{link03_nombre}}</span>
                    </a>
                </div>
              </div>
              <div class="right"></div></div>
              <div class="hex2 even2"><div class="left"></div>
              <div class="middle">
                <div class="iconos">
                    <a href="{{link04_ref}}">
                        <i class="{{link04_icono}}" title="{{link04_nombre}}"></i>
                        <span class="text-center">{{link04_nombre}}</span>
                    </a>
                </div>
              </div>
              <div class="right"></div></div>
            </div>
          </div>
        </div>
    </div>
</div>